<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video src="Timelapse of Stockholm at Night.mp4" autoplay="true" loop="true" muted></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1>Do What The Locals Do</h1>       
        <a href="" class="btn">Discover More</a>
    </div>
</header>
   
</body>
</html>