{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align cyan-text">
                {{ session.user }}'s Profile
            </h3> 
        </div>
    </div>
</div>

<h2 class="center-align">Your Tips:</h2>

<div class="row">
    {% for tip in tips %}   
    {% if session.user|lower == tip.created_by|lower %}   
    <div class="col s12 m4">        
        <div class="card">
            <div class="card-image">
                <img src="{{tip.tip_img}}">                    
            </div>
            <div class="card-content">
                <p class="uppercase">{{tip.category_name}}</p>
                <p><strong>{{ tip.tip_name }}</strong></p>
                <p>{{ tip.tip_short }}</p>
            </div>           
            <div class="card-button center-align">    
                <a href="{{ url_for('edit_tip', tip_id=tip._id) }}" class="btn-small cyan">Edit</a>                
                <a href="{{ url_for('delete_tip', tip_id=tip._id) }}" class="btn-small red">Delete</a>                
            </div>     
        </div>        
    </div>
    {% endif %}
    {% endfor %}
</div>




{% endblock %}