{% extends "base.html" %}
{% block content %}
<div class="row tip-card">
   <div class="col s12 l6">       
      <img src="{{category.tip_img}}" alt="{{category.tip_name}}">   
   </div>
   <div class="col s12 l6 center-align">
      <p class="uppercase btn grey darken-4">{{category.category_name}}</p>
      <h4><strong>{{ category.tip_name }}</strong></h4>
      <p>{{ category.tip_long }}</p>
      {% if created_by|lower == "admin"|lower %}
      <p><em>Edited by {{category.created_by}} on {{category.tip_date}}</em></p>
      {% else %}
      <p><em>Created by {{category.created_by}} on {{category.tip_date}}</em></p>
      {% endif %}   
      <a class="btn grey darken-4" href="{{ url_for('tips') }}">Return to home</a>               
   </div>
</div>
{% endblock %}