{% extends "base.html" %}
{% block content %}

<h3 class="center-align">View All Tips</h3>
<div class="row card-panel">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Tips</label>
                
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('tips')}}" class="red btn">Reset</a>
                <button type="submit" class="cyan btn">
                    <i class="fas fa-search  left"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>

{% if tips|length > 0 %}
<div class="row">
    {% for tip in tips %}    
    <div class="col s12 m4">        
        <div class="card">
            <div class="card-image">
                <img src="{{tip.tip_img}}">                    
            </div>
            <div class="card-content">
                <p class="uppercase">{{tip.category_name}}</p>
                <p><strong>{{ tip.tip_name }}</strong></p>
                <p>{{ tip.tip_short }}</p>
            </div>
            <div class="card-action">
            {% if tip.created_by|lower == "admin"|lower %}
                <p><em>Edited by {{tip.created_by}} on {{tip.tip_date}}</em></p> 
            {% else %}
                <p><em>Created by {{tip.created_by}} on {{tip.tip_date}}</em></p> 
            {% endif %}                  
            </div>   
                          
            
        </div>        
    </div>
    {% endfor %}
</div>
{% else %}
    <h3 class="red-text center-align">No results found!</h3>
{% endif %}

{% endblock %}