{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for tip in tips %}    
    <div class="col s12 m4">        
        <div class="card">
            <div class="card-image">
                <img src="{{tip.tip_img}}">                    
            </div>
            <div class="card-content">
                <p class="uppercase">{{tip.category_name}}</p>
                <p><strong>{{ tip.tip_name }}</strong></p>
                <p>{{ tip.tip_short }}</p>
            </div>
            <div class="card-action">
                <p><em>Created by {{tip.created_by}} on {{tip.tip_date}}</em></p>                
            </div>
            <div class="card-button center-align">                
                <a href="{{ url_for('edit_tip', tip_id=tip._id) }}" class="btn-small cyan">Edit</a>                
                <a href="" class="btn-small red">Delete</a>
            </div>          
            
        </div>        
    </div>
    {% endfor %}
</div>

{% endblock %}